*{
    margin:0;
    padding:0;
}
Body{
    background-color: rgb(202, 201, 201);
}
/* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    height: 140px; /* only for demonstration, should be removed */
    background: rgb(27, 26, 26);
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  ul li{
    padding-bottom: 10px;
  
  }

footer{
    height: 20px;
    text-align: center;
     background: rgb(27, 26, 26);
     color: white;
}

  /* Animação*/

[data-anime] {
    opacity: 0;
    transition: .7s;
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-anime="rigth"]{
    transform: translate3d(-50px, 0, 0);
}
.animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}

